extends layout

block nav
  .flex.gap-4
    h2 Resource List
    a.text-button(href="/resources/new") +

block content
  .modal(id="display")
  .w3-card-4
    .w3-container
      table.w3-table.w3-bordered
        tr
          th Title
          th Type
          th Description
          th Creation Date
          th Visibility
          th Author
          th Filename
          th

        each r in resources
          tr
            td= r.title
            td= r.type
            td= r.description
            td= r.creationDate
            if r.isPublic
              td Public
            else
              td Private
            td= r.author
            td= r.filename
            td #[a.w3-button.w3-round.w3-blue(href="/resources/download/"+ r.filename) Download]