extends layout

block nav
  .flex.gap-4.flex-col
    h2= resource.title
    h3= resource.subtitle

block content
  .flex.gap-4.flex-col.pb-4
    .flex.border.border-primary-600.justify-self-stretch.shadow-md
      div(class=["basis-1/5"]).bg-primary-600.flex-col.p-4.gap-4.text-white.flex
        .flex-col.flex-1
          p= "Authors: " + resource.authors.join("; ")
          p Publisher: #{resource.publisher.name}
          p Type: #{resource.type}
          p= "Tags: " + resource['hashTags'].join("; ")
          p Size: TODO
          p Last edited: TODO
          if resource.rating
            p= "Rating: " + resource.rating.toFixed(2)
          else
            p= "Rating: Unrated"

        hr
        include components/fileList
        a(href="/resources/download/" + resource._id).no-underline.text-black.rounded-full.bg-white.p-4.text-xl.text-black.flex-1.shadow-md.w-full.text-center.block Download
      div(class=["basis-4/5"]).flex-col.p-4.justify-between.flex
        if resource.description
          p= resource.description
        else
          p.italic No description
        if user && (user.level == "admin" || String(resource.posterID) == String(user._id))
          .flex.gap-4
            if resource.isPublic
              a(href="/resources/" + resource._id + "/togglevis").text-xs.text-black Make Private
            else
              a(href="/resources/" + resource._id + "/togglevis").text-xs.text-black Make Public
            a(href="/resources/" + resource._id + "/edit").text-xs.text-black Edit
            a(href="/resources/" + resource._id + "/delete").text-xs.text-red-500 Delete

    if !user || resource.comments.every(c => String(c.posterID) != String(user._id))
      form(method="post" action=`/resources/${resource._id}/comment`).border.border-primary-600.flex.flex-col.p-4.gap-4.shadow-md
        p Leave a comment/rating:
        .flex.gap-4
          textarea(name="text" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"').bg-inherit.rounded-none.flex-1.text-left.resize-none.overflow-hidden
          .flex.flex-col.gap-1
            .flex.flex-col.gap-1.flex-1
              label(for="rating").text-sm Rating
              select(name="rating").rounded-none.text-sm
                option(value="0") No rating
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
            hr
            input(type="submit" value="Post").rounded-full.bg-white.p-2.text-black.shadow-md

    each comment in resource.comments
      .flex.border.border-primary-600.justify-self-stretch.shadow-md
        div(class=["basis-1/5"]).bg-primary-600.flex-col.p-4.gap-4.text-white.flex
          .flex-col.flex-1
            p= comment.poster.name
            if comment.rating
              p= "Rating: " + comment.rating
            else
              p= "Rating: Unrated"
        div(class=["basis-4/5"]).flex-col.p-4.justify-between.flex
          p= comment.text
          if user && (user.level == "admin" || String(comment.posterID) == String(user._id))
            a(href="/resources/" + resource._id + "/deletecomment" + "?posterID=" + user._id).text-xs.text-red-500 Delete
